name: Build Docker image
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
      - name: Run the build
        run: |
          export DATE=$(date +%Y%m%d)
          # use that here since the variable are not present before start, so can't be in env
          export LOGIN=$GITHUB_REPOSITORY_OWNER

          pip install requests
          echo $PASSWORD | docker login $REGISTRY -u $LOGIN --password-stdin

          for i in */Dockerfile.template; do 
            export IMAGE=$LOGIN/$(dirname $i)
            cd $(dirname $i)
            python ../complete_template.py Dockerfile.template Dockerfile

            docker build . --tag $REGISTRY/$IMAGE:$DATE --tag $REGISTRY/$IMAGE:latest
            docker push $REGISTRY/$IMAGE:latest
            docker push $REGISTRY/$IMAGE:$DATE
            cd ..
          done 
        env:
          REGISTRY: ghcr.io
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
